.navbar{
    padding: 0px;
    height: 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}
.brand{
    display: flex;
    place-items: top;
    justify-content: space-between;
    margin-left: -11px;
    text-decoration: none;
    color: black;
}
.home-logo{
    width: 50px;
    height: 50px;
    margin-top: -8px;
    display: flex;
    place-items: center;
    justify-content: center;
    background-color: rgb(234, 231, 231);
    color: #1DA1F2;
    text-decoration: none;
}
.brand>h2{
   margin-left: 10%;
}
.home-logo:hover , .hide-button:hover{
    background-color: rgb(199, 198, 198);
    cursor: pointer;
}
.right-side {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.aau-logo {
    width: 50px;
    height: 50px;
    margin-top: -15px;
    margin-right: 10px;
}

.slogan {
    display: flex;
    flex-direction: column;
}

.main {
    font-size: xx-large;
    font-family: "Proxima Nova",sans-serif;
}
.main>span{
    font-weight: 600;
}
.course-name{
    color: #1DA1F2;
}
.side-bar{
    padding: 0px;
    background-color: white;
    margin-right: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}
.hide-button{
        width: 100px;
        height: 40px;
        display: flex;
        place-items: center;
        justify-content: center;
        background-color: rgb(234, 231, 231);
        text-decoration: none;
        margin-left: auto;
}
.side-bar-container{
    position: relative;
}
.side-bar-items{
    background-color: #1DA1F2;
    color: white;
    display: flex;
    place-items: center;
    justify-content: left;
    font-family: "Proxima Nova",sans-serif;
    font-size: larger;
    height: 50px;
    margin-bottom: 1.5px;
    padding-left: 15px;
    cursor: pointer;
}
.side-bar-item-clicked{
            background-color: #055688;
            color: white;
            display: flex;
            place-items: center;
            justify-content: left;
            font-family: "Proxima Nova", sans-serif;
            font-size: larger;
            height: 50px;
            margin-bottom: 1.5px;
            padding-left: 15px;
            cursor: pointer;
}
.side-bar-sub-items{
        background-color: #89cdf8;
        color: white;
        display: flex;
        place-items: center;
        justify-content: left;
        font-family: "Proxima Nova", sans-serif;
        font-size: large;
        height: 35px;
        margin-bottom: 1.5px;
        margin-left: auto;
        padding-left: 35px;
        cursor: pointer;
}
.showSideBar-Icon{
    background-color: #1DA1F2;
    margin-top: 20px;
    margin-right: auto;
    width:50px;
    height: 50px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.main-content{
    background-color: white;
    color: black;
    height: 100vh;
    margin-top: 20px;
    margin-right: auto;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.truncate {
    max-width: 500px;
}
.course-materials{
    display: grid;
    place-items: left;
    padding-left: 25px;
    border: #1DA1F2 2px solid;
    border-radius: 8px;
    height: 25vh;
    margin-right: auto;
        margin-left: auto;
}
.course-material{
    padding: 0px;
    align-self: center;
    display: flex;
    flex-direction: column;

}
.course-material>.h2 {
    font-weight: 500;
    color: #1DA1F2;

}
.bi-file-earmark-arrow-down-fill{
    position: relative;
    font-size: 30px;
    color: #1DA1F2;
}
.bi-file-earmark-arrow-down-fill::after {
    content: "Download";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem;
    color: black;
    border-radius: 4px;
    font-size: 0.8rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.bi-file-earmark-arrow-down-fill:hover::after {
    opacity: 1;
}
.card-body{
    overflow: auto;
}
.exams-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    margin-left: 5%;
}
.exam-name{
    cursor: pointer;
    font-size: x-large;
}
.exam-details{
    margin-left: 20px;
}
.exam-details>ul>li{
    margin-top: 8px;
    font-variant: small-caps;
    font-weight: 500;
}
.exam-details>ul>li>b{
    text-decoration: underline;
    font-size: larger;
}
.exam-start-button{
    position: absolute;
    display: inline;
    right: 10px;
}
.next-btn{
    margin-left: auto;
    margin-right: 10px;
}
.youtube{
    display: flex;
    flex-direction: column;
}
.uploadButton{
    margin-top: auto;
    margin-bottom: auto;
}
.uploadButton button{
    border: 1px solid;
    margin-bottom: 5px;
        background-color: #1DA1F2;
            color: white;
}
.uploadButton button:hover{
    background-color: white;
        color: #1DA1F2;
}
.AI-navbar{
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 80%;
    height: 20px;
    border-radius: 8px;
    margin-left: 10%;
    background-color: #1DA1F2;
}
.AI-navbar>ul{
    list-style-type: none;
    display: flex;
}
.AI-navbar>ul>li{
    margin-right: 20%;
    color: white;
    font-weight: 400;
}
.translate-section{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 40px;
    margin-bottom: auto;
}
.inform{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
p.information{
    font-size: small;
    font-weight: 600;
}
.textBox{
    position: relative;
}
.detected{
    position: relative;
    display: block;
    
}
.detected-child{
    position: absolute;
    right: 0px;
}
.translate-option{
    display: grid;
    place-items: center;
}
.fa-microphone,.bi-volume-up , .bi-download{
    margin-left: 20px;
    font-size: 25px;
    color: #000;
    cursor: pointer;
}
.result{
    width: 100%;
    height: 220px;
    border: 1px solid #000;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.recording {
    animation: pulse 1s infinite;
    color: red;
}